$bg-grey: #252526
$bg-dark: #1e1e1e
$border-grey: #8885

:root
  font-family: neuropol-x, Trebuchet MS, Calibri, sans-serif
  line-height: 1.5
  font-weight: 400

  color-scheme: light dark
  color: #ebebeb
  background-color: #333333

  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@font-face
  font-family: neuropol-x
  font-display: swap
  src: url('/font/neuropol-x.woff2') format('woff2'), url('/font/neuropol-x.woff') format('woff'), url('/font/neuropol-x.otf') format('opentype')

body
  margin: 0
  height: 100vh
  width: 100vw
  display: flex
  overflow: hidden

#map
  flex-grow: 1
  position: relative

#canvas
  width: 100%
  height: 100%

#overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1

#resize-handle
  width: 2px
  border-right: 2px solid $bg-dark
  background-color: $bg-grey
  cursor: ew-resize

#editor
  background-color: $bg-dark
  display: flex
  flex-direction: column
  font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,system-ui,Ubuntu,Droid Sans,sans-serif
  & > div
    min-width: 30vw
  .loader
    margin: 0
    height: 100%
    text-align: center
    padding: 1rem
    display: none
  &.loading .loader
    display: block
  .toolbar
    padding-top: 4px
    select, button
      background-color: $bg-grey
      &:active
        background-color: $bg-dark
        color: white
    &:last-child
      display: none
  .container
    flex-grow: 1

h1
  font-size: 3.2em
  line-height: 1.1

#loading
  position: absolute
  z-index: 1
  top: 0
  left: 0
  right: 4px // resize-handle width
  bottom: 0
  pointer-events: none

  display: flex
  justify-content: center
  flex-direction: column
  margin: 0 auto
  padding: 2rem
  text-align: center

  will-change: opacity
  transition: opacity 1000ms ease-in
  &.hiding
    opacity: 0

  .logo
    height: 6em
    padding: 1.5em

button, select, input
  font-family: inherit
  padding: 0.2em 0.5em
  border-radius: 4px
  border: 1px solid $border-grey
  background-color: $bg-dark
  height: 2em
  //TODO: add pressed style
  &:active
    background-color: $bg-grey

select
  padding-left: 0.2em

@media (prefers-color-scheme: light)
  :root
    color: #213547
    background-color: #ffffff
  a:hover
    color: #747bff
  button
    background-color: #f9f9f9

#alert
  visibility: hidden
  position: fixed
  right: 0
  bottom: 0
  margin: 16px
  padding: 12px
  background-color: $bg-grey
  border: 1px solid $border-grey
  border-radius: 4px
  box-shadow: 3px 4px 5px 0 $border-grey
  z-index: 9
  text-align: left
  display: grid

  .message
    margin-bottom: 8px
  .buttons
    display: flex
    flex-direction: row-reverse
  button
    margin-right: 5px
    padding: 3px 10px
  &.show
    visibility: visible

button#alert-refresh
  display: none
#alert.show.refresh button#alert-refresh
  display: block

.loader::before
  content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_jCIR{animation:spinner_B8Vq .9s linear infinite;animation-delay:-.9s}.spinner_upm8{animation-delay:-.8s}.spinner_2eL5{animation-delay:-.7s}.spinner_Rp9l{animation-delay:-.6s}.spinner_dy3W{animation-delay:-.5s}@keyframes spinner_B8Vq{0%,66.66%{animation-timing-function:cubic-bezier(0.36,.61,.3,.98);y:6px;height:12px}33.33%{animation-timing-function:cubic-bezier(0.36,.61,.3,.98);y:1px;height:22px}}</style><rect class="spinner_jCIR" x="1" y="6" width="2.8" height="12"/><rect class="spinner_jCIR spinner_upm8" x="5.8" y="6" width="2.8" height="12"/><rect class="spinner_jCIR spinner_2eL5" x="10.6" y="6" width="2.8" height="12"/><rect class="spinner_jCIR spinner_Rp9l" x="15.4" y="6" width="2.8" height="12"/><rect class="spinner_jCIR spinner_dy3W" x="20.2" y="6" width="2.8" height="12"/></svg>')
  filter: invert(1) opacity(0.7)
  vertical-align: middle
  padding: 0 .5rem
